# Игнорируем файлы и папки, которые не должны быть в репозитории
**/__pycache__/ 

# Игнорируем папки с данными и результатами
dataset/
photo/
runs/

# Игнорируем результаты видео
output_video_id.avi
track_video.mp4

# Игнорируем модели
yolo11n.pt
yolo11s-seg.pt

# Игнорируем файлы с результатами
*.pkl
*.log
*.db
*.h5

# Игнорируем файлы и папки, специфичные для IDE
.vscode/
.idea/